
.wrapper {


  margin: 1%;
  padding: 20px;
  .container {
    display:grid;
    text-align: left;
    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 15%;
    font-weight: bold;
  }
}

.TITLE {display: flex; justify-content: center}

input {
  //margin-right: 10px;
  text-align: center;

}

form {
  display: grid;
  grid: auto-flow  35px / 150px 150px;
  margin: 10px auto 15px auto;
  // place-items: center;
}

button {
  margin: 5px auto 5px auto;
  padding: 8px;
  font-weight: bold;
}
